name: Cabbage

on: [push]

jobs:
  dummy:
    runs-on: ubuntu-latest
    steps:
      - name: hello world
        run: echo "hello world"

  build:
    needs: dummy
    runs-on: ubuntu-latest
    container:
      image: python:3.7-alpine
      volumes:
        - wheelhouse:/wheelhouse
      options: --entrypoint /bin/sh
    steps:
      - name: Install build dependencies
        run: pip install poetry==1.0.0a4  # FIXME: need pre-release for export
      - name: Make wheelhouse
        run: |
          poetry build -f wheel
          mv dist wheelhouse
          poetry export -f requirements.txt
          pip wheel -w wheelhouse -r requirements.txt

  test:
    needs: build
    runs-on: ubuntu-latest
    container:
      image: python:3.7-alpine
      volumes:
        - wheelhouse:/wheelhouse
      options: --entrypoint /bin/sh
    steps:
      - name: Install test dependencies
        run: pip install pytest pytest-sugar wheelhouse/*
      - name: Run tests
        run: pytest